.ipynb_checkpoints/usage_example-checkpoint.ipynb
.vscode/settings.json
notes.txt
usage_example.ipynb
Model_Calibration/Cpp/calibration/Scenarios_For_Tests/bases.txt
Model_Calibration/Cpp/calibration/Scenarios_For_Tests/hospitals.txt
Model_Calibration/Cpp/calibration/Scenarios_For_Tests/Simulated_Data_Continuous_Scenarios.m
Model_Calibration/Cpp/calibration/Scenarios_For_Tests/Queues_Of_Calls/Readme
Model_Calibration/Cpp/calibration/Scenarios_For_Tests/Queues_Of_Calls/simualtedQueues.txt
Model_Calibration/Cpp/calibration/Scenarios_For_Tests/Queues_Of_Calls/simulatedQueues_ordered.txt
Model_Calibration/Cpp/calibration/Scenarios_For_Tests/Queues_Of_Calls/simulatedQueues.txt
Model_Calibration/Cpp/calibration/Scenarios_For_Tests/Real_Data_Continuous_Scenarios/baseScenario.txt
Model_Calibration/Cpp/calibration/Scenarios_For_Tests/Real_Data_Continuous_Scenarios/Readme
Model_Calibration/Cpp/calibration/Scenarios_For_Tests/Simulated_Data_Closest_Amb_Closest_Hosp/example.txt
Model_Calibration/Cpp/calibration/Scenarios_For_Tests/Simulated_Data_Closest_Amb_Closest_Hosp/OneDExample.m
Model_Calibration/Cpp/calibration/Scenarios_For_Tests/Simulated_Data_Continuous_Scenarios/Readme
Model_Calibration/Cpp/calibration/Scenarios_For_Tests/Simulated_Data_Continuous_Scenarios/Closest_Hospital/simualtedRealLatLong40.txt
Model_Calibration/Cpp/calibration/Scenarios_For_Tests/Simulated_Data_Continuous_Scenarios/Closest_Hospital/simualtedRealLatLong200.txt
Model_Calibration/Cpp/calibration/Scenarios_For_Tests/Simulated_Data_Continuous_Scenarios/Closest_Hospital/simualtedRealLatLong600.txt
Model_Calibration/Cpp/calibration/Scenarios_For_Tests/Simulated_Data_Continuous_Scenarios/Random_Hospital/simualtedRealLatLong40.txt
Model_Calibration/Cpp/calibration/Scenarios_For_Tests/Simulated_Data_Continuous_Scenarios/Random_Hospital/simualtedRealLatLong200.txt
Model_Calibration/Cpp/calibration/Scenarios_For_Tests/Simulated_Data_Continuous_Scenarios/Random_Hospital/simualtedRealLatLong600.txt
Model_Calibration/Cpp/calibration/Scenarios_For_Tests/Simulated_Data_Rectangle/Readme
Model_Calibration/Cpp/calibration/Scenarios_For_Tests/Simulated_Data_Rectangle/simualtedRectanglePoisson.txt
Model_Calibration/Cpp/calibration/Scenarios_For_Tests/Simulated_Data_Rectangle/simualtedRectangleUniform.txt
Model_Calibration/Cpp/calibration/Toy/calls.dat
Model_Calibration/Cpp/calibration/Toy/info.dat
Model_Calibration/Cpp/calibration/Toy/neighbors.dat
Model_Calibration/Cpp/calibration/Toy/samples.dat
Model_Calibration/Cpp/err_a0_w0.txt
Model_Calibration/Cpp/err_a0.05_w0.05.txt
Model_Calibration/Cpp/err_a0.01_w0.01.txt
Model_Calibration/Cpp/err_no_regressors.txt
Model_Calibration/Cpp/esma
Model_Calibration/Cpp/laspated
Model_Calibration/Cpp/log_lambda_teorico.txt
Model_Calibration/Cpp/proj_regressors.lp
Model_Calibration/Cpp/x_a0_w0.txt
Model_Calibration/Cpp/x_a0.01_w0.01.txt
Model_Calibration/Cpp/x_a0.05_w0.05.txt
Model_Calibration/Cpp/x_noreg_w0.txt
Model_Calibration/Cpp/x_noreg_w70.txt
Model_Calibration/Cpp/x_noreg_w140.txt
Model_Calibration/Cpp/err_no_reg_d1.txt
Model_Calibration/Cpp/err_no_reg_d6.txt
Model_Calibration/Cpp/sample.txt
Model_Calibration/Cpp/sample6.txt
Model_Calibration/Cpp/sample6reg.txt
Model_Calibration/Cpp/x_no_reg_d6.txt
Model_Calibration/Cpp/x_reg_w1_d6.txt
Model_Calibration/Octave/crossValidationNoReg.m
Model_Calibration/Octave/laspated.m
Model_Calibration/Octave/laspatedex1noreg.m
Model_Calibration/Octave/laspatedex1reg.m
Model_Calibration/Octave/octave-workspace
Model_Calibration/Octave/oracleGradientModel1.m
Model_Calibration/Octave/oracleGradientModel2.m
Model_Calibration/Octave/oracleObjectiveModel1.m
Model_Calibration/Octave/oracleObjectiveModel2.m
Model_Calibration/Octave/projectedGradientArmijoFeasible.m
Model_Calibration/Octave/projectedGradientArmijoFeasible2.m
Model_Calibration/Octave/projectionRegressor.m
Model_Calibration/Cpp/obj/generator_no_regressor.o
Model_Calibration/Cpp/obj/generator_regressor.o
Model_Calibration/Cpp/obj/main.o
Model_Calibration/Cpp/err/err_a0_w0.txt
Model_Calibration/Cpp/err/err_a0.01_w0.01.txt
Model_Calibration/Cpp/err/err_a0.05_w0.05.txt
Model_Calibration/Cpp/err/err_g2_alpha.txt
Model_Calibration/Cpp/err/err_g2_obs2_alpha.txt
Model_Calibration/Cpp/err/err_g2_obs2_no_alpha.txt
Model_Calibration/Cpp/err/err_g2_obs20_alpha.txt
Model_Calibration/Cpp/err/err_g2_obs20_no_alpha.txt
Model_Calibration/Cpp/err/err_g2_obs100_alpha.txt
Model_Calibration/Cpp/err/err_g2_obs100_no_alpha.txt
Model_Calibration/Cpp/err/err_g2_obs1000_alpha.txt
Model_Calibration/Cpp/err/err_g2_obs1000_no_alpha.txt
Model_Calibration/Cpp/err/err_g4_obs2_alpha.txt
Model_Calibration/Cpp/err/err_g4_obs2_no_alpha.txt
Model_Calibration/Cpp/err/err_g4_obs20_alpha.txt
Model_Calibration/Cpp/err/err_g4_obs20_no_alpha.txt
Model_Calibration/Cpp/err/err_g4_obs100_alpha.txt
Model_Calibration/Cpp/err/err_g4_obs100_no_alpha.txt
Model_Calibration/Cpp/err/err_g4_obs1000_alpha.txt
Model_Calibration/Cpp/err/err_g4_obs1000_no_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g2_obs2_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g2_obs2_no_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g2_obs20_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g2_obs20_no_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g2_obs100_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g2_obs100_no_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g2_obs1000_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g2_obs1000_no_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g4_obs2_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g4_obs2_no_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g4_obs20_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g4_obs20_no_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g4_obs100_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g4_obs100_no_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g4_obs1000_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g4_obs1000_no_alpha.txt
Model_Calibration/Cpp/err/err_no_reg_d0.5.txt
Model_Calibration/Cpp/err/err_no_reg_d1.txt
Model_Calibration/Cpp/err/err_no_reg_d6.txt
Model_Calibration/Cpp/err/err_no_regressors.txt
Model_Calibration/Cpp/err/err_reg.txt
Model_Calibration/Cpp/err/err_a0_w0.txt
Model_Calibration/Cpp/err/err_a0.01_w0.01.txt
Model_Calibration/Cpp/err/err_a0.05_w0.05.txt
Model_Calibration/Cpp/err/err_g2_alpha.txt
Model_Calibration/Cpp/err/err_g2_obs2_alpha.txt
Model_Calibration/Cpp/err/err_g2_obs2_no_alpha.txt
Model_Calibration/Cpp/err/err_g2_obs20_alpha.txt
Model_Calibration/Cpp/err/err_g2_obs20_no_alpha.txt
Model_Calibration/Cpp/err/err_g2_obs100_alpha.txt
Model_Calibration/Cpp/err/err_g2_obs100_no_alpha.txt
Model_Calibration/Cpp/err/err_g2_obs1000_alpha.txt
Model_Calibration/Cpp/err/err_g2_obs1000_no_alpha.txt
Model_Calibration/Cpp/err/err_g4_obs2_alpha.txt
Model_Calibration/Cpp/err/err_g4_obs2_no_alpha.txt
Model_Calibration/Cpp/err/err_g4_obs20_alpha.txt
Model_Calibration/Cpp/err/err_g4_obs20_no_alpha.txt
Model_Calibration/Cpp/err/err_g4_obs100_alpha.txt
Model_Calibration/Cpp/err/err_g4_obs100_no_alpha.txt
Model_Calibration/Cpp/err/err_g4_obs1000_alpha.txt
Model_Calibration/Cpp/err/err_g4_obs1000_no_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g2_obs2_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g2_obs2_no_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g2_obs20_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g2_obs20_no_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g2_obs100_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g2_obs100_no_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g2_obs1000_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g2_obs1000_no_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g4_obs2_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g4_obs2_no_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g4_obs20_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g4_obs20_no_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g4_obs100_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g4_obs100_no_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g4_obs1000_alpha.txt
Model_Calibration/Cpp/err/err_no_diag_g4_obs1000_no_alpha.txt
Model_Calibration/Cpp/err/err_no_reg_d0.5.txt
Model_Calibration/Cpp/err/err_no_reg_d1.txt
Model_Calibration/Cpp/err/err_no_reg_d6.txt
Model_Calibration/Cpp/err/err_no_regressors.txt
Model_Calibration/Cpp/err/err_reg.txt
Model_Calibration/Cpp/err_cov/err_cov_no_reg_g2_obs2_n1_a0.txt
Model_Calibration/Cpp/err_cov/err_cov_no_reg_g2_obs2_n1.txt
Model_Calibration/Cpp/err_cov/err_cov_no_reg_g2_obs2_n2.txt
Model_Calibration/Cpp/err_cov/err_cov_no_reg_g2_obs20_n1_a0.txt
Model_Calibration/Cpp/err_cov/err_cov_no_reg_g2_obs20_n1.txt
Model_Calibration/Cpp/err_cov/err_cov_no_reg_g2_obs20_n2.txt
Model_Calibration/Cpp/err_cov/err_cov_no_reg_g2_obs100_n1_a0.txt
Model_Calibration/Cpp/err_cov/err_cov_no_reg_g2_obs100_n1.txt
Model_Calibration/Cpp/err_cov/err_cov_no_reg_g2_obs100_n2.txt
Model_Calibration/Cpp/err_cov/err_cov_no_reg_g2_obs1000_n1_a0.txt
Model_Calibration/Cpp/err_cov/err_cov_no_reg_g2_obs1000_n1.txt
Model_Calibration/Cpp/err_cov/err_cov_no_reg_g2_obs1000_n2.txt
Model_Calibration/Cpp/err_cov/err_cov_no_reg_g4_obs2_n1_a0.txt
Model_Calibration/Cpp/err_cov/err_cov_no_reg_g4_obs2_n1.txt
Model_Calibration/Cpp/err_cov/err_cov_no_reg_g4_obs2_n2.txt
Model_Calibration/Cpp/err_cov/err_cov_no_reg_g4_obs20_n1_a0.txt
Model_Calibration/Cpp/err_cov/err_cov_no_reg_g4_obs20_n1.txt
Model_Calibration/Cpp/err_cov/err_cov_no_reg_g4_obs20_n2.txt
Model_Calibration/Cpp/err_cov/err_cov_no_reg_g4_obs100_n1_a0.txt
Model_Calibration/Cpp/err_cov/err_cov_no_reg_g4_obs100_n1.txt
Model_Calibration/Cpp/err_cov/err_cov_no_reg_g4_obs100_n2.txt
Model_Calibration/Cpp/err_cov/err_cov_no_reg_g4_obs1000_n1_a0.txt
Model_Calibration/Cpp/err_cov/err_cov_no_reg_g4_obs1000_n1.txt
Model_Calibration/Cpp/err_cov/err_cov_no_reg_g4_obs1000_n2.txt
Model_Calibration/Cpp/err_cov/plot_vals.py
Model_Calibration/Cpp/err_cov/results_cov_n2_crop.pdf
Model_Calibration/Cpp/err_cov/results_cov_n20_crop.pdf
Model_Calibration/Cpp/err_cov/results_cov_n100_crop.pdf
Model_Calibration/Cpp/err_cov/results_cov_n1000_crop.pdf
Model_Calibration/Cpp/err_cov_holiday/err_cov_no_reg_g2_obs2_n1_a0_h1.txt
Model_Calibration/Cpp/err_cov_holiday/err_cov_no_reg_g2_obs2_n1_h1.txt
Model_Calibration/Cpp/err_cov_holiday/err_cov_no_reg_g2_obs2_n2_h1.txt
Model_Calibration/Cpp/err_cov_holiday/err_cov_no_reg_g2_obs20_n1_a0_h1.txt
Model_Calibration/Cpp/err_cov_holiday/err_cov_no_reg_g2_obs20_n1_h1.txt
Model_Calibration/Cpp/err_cov_holiday/err_cov_no_reg_g2_obs20_n2_h1.txt
Model_Calibration/Cpp/err_cov_holiday/err_cov_no_reg_g2_obs100_n1_a0_h1.txt
Model_Calibration/Cpp/err_cov_holiday/err_cov_no_reg_g2_obs100_n1_h1.txt
Model_Calibration/Cpp/err_cov_holiday/err_cov_no_reg_g2_obs100_n2_h1.txt
Model_Calibration/Cpp/err_cov_holiday/err_cov_no_reg_g2_obs1000_n1_a0_h1.txt
Model_Calibration/Cpp/err_cov_holiday/err_cov_no_reg_g2_obs1000_n1_h1.txt
Model_Calibration/Cpp/err_cov_holiday/err_cov_no_reg_g2_obs1000_n2_h1.txt
Model_Calibration/Cpp/err_cov_holiday/err_cov_no_reg_g4_obs2_n1_a0_h1.txt
Model_Calibration/Cpp/err_cov_holiday/err_cov_no_reg_g4_obs2_n1_h1.txt
Model_Calibration/Cpp/err_cov_holiday/err_cov_no_reg_g4_obs2_n2_h1.txt
Model_Calibration/Cpp/err_cov_holiday/err_cov_no_reg_g4_obs20_n1_a0_h1.txt
Model_Calibration/Cpp/err_cov_holiday/err_cov_no_reg_g4_obs20_n1_h1.txt
Model_Calibration/Cpp/err_cov_holiday/err_cov_no_reg_g4_obs20_n2_h1.txt
Model_Calibration/Cpp/err_cov_holiday/err_cov_no_reg_g4_obs100_n1_a0_h1.txt
Model_Calibration/Cpp/err_cov_holiday/err_cov_no_reg_g4_obs100_n1_h1.txt
Model_Calibration/Cpp/err_cov_holiday/err_cov_no_reg_g4_obs100_n2_h1.txt
Model_Calibration/Cpp/err_cov_holiday/err_cov_no_reg_g4_obs1000_n1_a0_h1.txt
Model_Calibration/Cpp/err_cov_holiday/err_cov_no_reg_g4_obs1000_n1_h1.txt
Model_Calibration/Cpp/err_cov_holiday/err_cov_no_reg_g4_obs1000_n2_h1.txt
Model_Calibration/Cpp/err_cov_holiday/plot_vals.py
Model_Calibration/Cpp/err_cov_holiday/results_covh_n2_crop.pdf
Model_Calibration/Cpp/err_cov_holiday/results_covh_n20_crop.pdf
Model_Calibration/Cpp/err_cov_holiday/results_covh_n100_crop.pdf
Model_Calibration/Cpp/err_cov_holiday/results_covh_n1000_crop.pdf
Model_Calibration/Cpp/err_lam/err_lam_no_reg_g2_obs2_n1_a0.txt
Model_Calibration/Cpp/err_lam/err_lam_no_reg_g2_obs2_n1.txt
Model_Calibration/Cpp/err_lam/err_lam_no_reg_g2_obs2_n2.txt
Model_Calibration/Cpp/err_lam/err_lam_no_reg_g2_obs20_n1_a0.txt
Model_Calibration/Cpp/err_lam/err_lam_no_reg_g2_obs20_n1.txt
Model_Calibration/Cpp/err_lam/err_lam_no_reg_g2_obs20_n2.txt
Model_Calibration/Cpp/err_lam/err_lam_no_reg_g2_obs100_n1_a0.txt
Model_Calibration/Cpp/err_lam/err_lam_no_reg_g2_obs100_n1.txt
Model_Calibration/Cpp/err_lam/err_lam_no_reg_g2_obs100_n2.txt
Model_Calibration/Cpp/err_lam/err_lam_no_reg_g2_obs1000_n1_a0.txt
Model_Calibration/Cpp/err_lam/err_lam_no_reg_g2_obs1000_n1.txt
Model_Calibration/Cpp/err_lam/err_lam_no_reg_g2_obs1000_n2.txt
Model_Calibration/Cpp/err_lam/err_lam_no_reg_g4_obs2_n1_a0.txt
Model_Calibration/Cpp/err_lam/err_lam_no_reg_g4_obs2_n1.txt
Model_Calibration/Cpp/err_lam/err_lam_no_reg_g4_obs2_n2.txt
Model_Calibration/Cpp/err_lam/err_lam_no_reg_g4_obs20_n1_a0.txt
Model_Calibration/Cpp/err_lam/err_lam_no_reg_g4_obs20_n1.txt
Model_Calibration/Cpp/err_lam/err_lam_no_reg_g4_obs20_n2.txt
Model_Calibration/Cpp/err_lam/err_lam_no_reg_g4_obs100_n1_a0.txt
Model_Calibration/Cpp/err_lam/err_lam_no_reg_g4_obs100_n1.txt
Model_Calibration/Cpp/err_lam/err_lam_no_reg_g4_obs100_n2.txt
Model_Calibration/Cpp/err_lam/err_lam_no_reg_g4_obs1000_n1_a0.txt
Model_Calibration/Cpp/err_lam/err_lam_no_reg_g4_obs1000_n1.txt
Model_Calibration/Cpp/err_lam/err_lam_no_reg_g4_obs1000_n2.txt
Model_Calibration/Cpp/err_lam/plot_vals.py
Model_Calibration/Cpp/err_lam/results_clam_n2_crop.pdf
Model_Calibration/Cpp/err_lam/results_clam_n20_crop.pdf
Model_Calibration/Cpp/err_lam/results_clam_n100_crop.pdf
Model_Calibration/Cpp/err_lam/results_clam_n1000_crop.pdf
Data/rj/Rio.osm
laspated/src/laspated.egg-info
laspated/src/laspated.egg-info/PKG-INFO
